@use 'sass:map';
@use 'base/reset';
@use 'base/locomotive-scroll';
@use 'base/fonts';

/*
* Variáveis
*/
$color-white: #e8e8e8;
$color-black: #101010;
$font-fallback-sans:
  -apple-system,
  blinkmacsystemfont,
  avenir next,
  avenir,
  segoe ui,
  helvetica neue,
  helvetica,
  cantarell,
  ubuntu,
  roboto,
  noto,
  arial,
  sans-serif;
$font-fallback-serif:
  iowan old style,
  apple garamond,
  baskerville,
  times new roman,
  droid serif,
  times,
  source serif pro,
  serif,
  apple color emoji,
  segoe ui emoji,
  segoe ui symbol;
$font-primary-sans: 'Font Name', $font-fallback-sans;
$font-primary-serif: 'Font Name', $font-fallback-serif;

// $font-sizes: (
// );

// $z-index: (
// );

// $padding-global: 1em;

html {
  font-size: min(min(calc(100vw / 1728 * 10), calc(100vh / 990 * 10)), 10px);
}
