/* Font Name - Book (Regular 400) */
@font-face {
  font-display: swap;
  font-family: 'Font Name';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/FontName-Book.woff2') format('woff2');
}
